*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
/2025/day04/cpp/day04
**/_build/
*.cmi
*.cmo
*.cmx
*.cmxa
*.cma
*.cmxs
*.cmt
*.cmti
*.annot
*.byte
*.native
*.pp.ml
*.pp.mli
*.ml-gen
.merlin

__pycache__/
*.pyc
*.vcd
*.fst
*.gtkw
*.wlf
*.hardcamlwaveform
.vscode/
.idea/
*.swp
*~
.DS_Store
